[submodule "src/ForoGamesHelper"]
	path = src/ForoGamesHelper
	url = https://github.com/guille3218/ForoGamesHelper.git master

[submodule "src/ForoGGamesHelperBack"]
	path = src/ForoGGamesHelperBack
	url = https://github.com/guille3218/ForoGamesHelperBack.git master